body {
    background-color: white;
    color: #BFA155;
    font-family: Lato, sans-serif;
	text-align: center;
	font-size: 11px;
}

h1 {
	background-color: white;
    color: #BFA155;
	font-style: bold;
	text-transform: uppercase
}

p { background-color: white;
    color: #BFA155;
}

ul,li {
	list-style-type:none;
}

img {
	width: 100%;
}

#slogan {
	font-style: bold-italic;
	font-size: 16px;
	padding: 10px;
}